node_modules
*/node_modules
**/node_modules

dist
out
build
coverage
*.tsbuildinfo

.turbo
.cache

.env
.env.production
.env.local
.env.test

!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db

.git
.gitignore
.vscode
.idea
*.swp
*.swo
